<!DOCTYPE html>
<html>
<head>
  <title>ServiceworkerSample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>
<%= javascript_include_tag "application" %>
<body>

<%= yield %>

</body>
</html>
